
/* FONTS */
  @import url('https://fonts.googleapis.com/css?family=Lato|Voltaire');
  /* 
  font-family: 'Lato', sans-serif;
  font-family: 'Voltaire', sans-serif;
  */
  * { font-family: 'Voltaire', sans-serif; text-align: center; }


/* RESET (not needed in Bootstrap)
  *, html, body {
    box-sizing: border-box; 
    padding: 0; margin: 0;
  }
*/

/* COLORS */
  /*
  .color-white { color: white; }
  .color-facebook { color: rgb(59,89,152); }
  .color-twitter { color: rgb(0,182,241); }
  .color-googleplus { color: rgb(223,74,50); }
  .color-youtube { color: rgb(179,18,23); }
  .color-linkedin { color: rgb(0,123,182); }
  .color-github { color: black; }

  

*/

/* for sass conversion todo
  .color-text { color: rgb(208,214,219); }
  .colorbg-text { background-color: rgb(208,214,219); }
  .color-text-dark { color: rgb(96,96,100); }
  .colorbg-text-dark { background-color: rgb(96,96,100); }
  .color-hover { color: rgb(207,184,124); }
  .colorbg-hover { background-color: rgb(207,184,124); }
  .color-hover-dark { color: rgb(129,115,77); }
  .colorbg-hover-dark { background-color: rgb(129,115,77); }
  .color-light { color:rgb(3,33,133)}
  .colorbg-light { background-color: rgb(3,33,133); }
  .color-base { color:rgb(2,21,83)}
  .colorbg-base { background-color: rgb(2,21,83); }
  .color-base-dark { color: rgb(5,0,55); }
  .colorbg-base-dark { background-color: rgb(5,0,55); }
*/

  .color-page { background-color: rgb(5,0,55); color:rgb(192,192,200); }
  .color-page--invert { background-color: rgb(192,192,200); color: rgb(5,0,55); }
  .color-button { background-color: transparent; color: rgb(192,192,200); }
  .color-button--invert { background-color: transparent; color: rgb(5,0,55); }
  .color-cta { background-color: transparent; color: rgb(207,93,52);  }
  .color-cta-reg { background-color: rgb(207,93,52); color: rgb(192,192,200); }
  
/* APP-LIKE SECTIONS (show/hide) */
  .app__container { 
    position: absolute; top: 0; left: 0;
    width: 100%; height:100%;
  }
  section, .head__title { 
    position: relative; top: 0; left: 0; width: 100%; height: 100%;
    transition: opacity 0.25s ease-in-out 0s; 
    overflow:hidden;
    opacity:0; pointer-events:none; height: 1px; 
  }
  .section--show {
    overflow:visible; 
    opacity:1; pointer-events:auto; height: 100%;
  }

/* RESPONSIVE SIZING SETUP */
  /* portrait window (default design) - dynamic size to vw*/
    html { 
      font-size: 1%; /* fallback value : test me */
      font-size: calc(1vw + (( 1vh - 1vw ) * 0.5 ));
    }

    /* viewport containers */
    header { position: fixed; top: 0; left: 0; width: 100%; height: 12rem; z-index: 1; }
    main {  position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 12rem 0 18rem 0; z-index: 2; }
    nav { position: fixed; top: calc(100% - 18rem); left: 0; width: 100%; height: 18rem; z-index: 10; }
    .nav-mobile { position: absolute; top: 0; left: 0; padding-top: 1rem; }
    .nav-main { opacity:0; pointer-events:none; overflow:hidden; height: 1px; width: 1px; }
    .nav-mobile { opacity:1; pointer-events:auto; overflow:visible; height: 100%; width: 98%; }

  /* end portrait styles */

  /*landscape window - dynamic size to vh*/
  @media (min-aspect-ratio: 1/1) { 
    html { 
      font-size: 1%; /* fallback value : test me*/
      font-size: 1vh; 
    } 

    /* viewport containers */
    header { position: fixed; top: 0; left: 0; width: 100%; height: 12rem; z-index: 1; }
    main { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; }
    nav { position: fixed; top: 82rem; left: 0; width: 100%; height: 18rem; z-index: 10; }
    .nav-main { position: absolute; top: 0; left: calc(50% - 50rem); padding-top: 1rem; }
    .nav-mobile { opacity:0; pointer-events:none; overflow:hidden; height: 1px; width: 1px; }
    .nav-main { opacity:1; pointer-events:auto; overflow:visible; height: 100%; width: 100rem; }
    
    /*dynamic styles -- landscape (differs from portrait) */ 
    #home .section__container, .head__title { position:relative; left: 1.8rem; }

  }
  /* end landscape styles */
/* END RESPONSIVE STYLING SETUP */


/* bootstrap overrides */
  .badge{ font-size: 2.4rem; margin: 0.5rem; }
  .btn { 
    box-sizing: border-box;
    font-size: 3rem;
    line-height: 3rem;
    margin: 1rem; 
    border-top: 0.4rem solid rgb(192,192,200); border-left: 0.4rem solid rgb(192,192,200);
    border-bottom: 0.4rem solid rgb(96,96,100); border-right: 0.4rem solid rgb(96,96,100);
  }
  .btn:hover {
    transition: color 0.2s ease-in-out 0s, border 0.2s ease-in-out 0s;
    color: rgb(207,93,52); 
    border-top: 0.4rem solid rgb(207,93,52); border-left: 0.4rem solid rgb(207,93,52);
    border-bottom: 0.4rem solid rgb(104,47,26); border-right: 0.4rem solid  rgb(104,47,26);
    outline: none;
  }
  .card { border:none; }
  .card-title { font-size: 3.2rem; line-height: 4rem; }
  .card-text { font-size: 2.4rem; line-height: 3rem; }
  .card-img-top, .card-img-left { width:100%; height:auto; } 
  .card-header, .card-footer { background-color: transparent; }
  ul.nav-tabs { 
    box-sizing: border-box; 
    border-bottom: 0.4rem solid rgb(192,192,200);
    margin: 0 auto 2rem auto;
    padding: 0;
  }
  ul.nav-tabs > li { 
    box-sizing: border-box;   
    background-color: transparent !important;
    outline: none;
    margin: 0; padding: 0;
  }
  ul.nav-tabs > li > a {
    position: relative; 
    box-sizing: border-box; 
    background-color: transparent; color: rgb(192,192,200); 
    outline: none;
  }
  ul.nav-tabs > li > a.active, ul.nav-tabs > li > a:active {  
    top: 0.25rem;
    background-color: rgb(5,0,55) !important; color: rgb(192,192,200) !important; 
    border-top: 0.4rem solid rgb(192,192,200) !important; border-left: 0.4rem solid rgb(192,192,200) !important;
    border-bottom: 0.4rem solid rgb(5,0,55) !important; border-right: 0.4rem solid rgb(192,192,200) !important;
   }
   ul.nav-tabs > li > a:hover:not(.active) { 
    top: -0.15rem;
    transition: color 0.2s ease-in-out 0s, border 0.2s ease-in-out 0s;
    background-color: rgb(5,0,55) !important; color: rgb(207,93,52) !important; 
    border-top: 0.4rem solid rgb(207,93,52) !important; border-left: 0.4rem solid rgb(207,93,52) !important;
    border-bottom: 0.4rem solid rgb(5,0,55) !important; border-right: 0.4rem solid rgb(207,93,52) !important;
    outline: none;
   }
  /* end bootstrap overrides */

/* general styles */  
  .app__containter { position: relative; top: 0; right: 0; }
  .head__title { 
    position: relative; top: 3rem;
    font-size: 6rem; letter-spacing: 1.8rem; line-height: 6rem;
  }
  .section__container { 
    position: relative; top: 0; left: 0;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0;
  }
  .section__tab { font-size: 3.3rem; line-height: 3.3rem; padding: 1rem 0; }
  textarea { resize: none; }

  /* tab keyboard selector style */
  :link:focus, :visited:focus {
    outline: none;
    color: rgb(207,93,52);
  }

/* nav styles */
  .nav-main__icon-base, .nav-mobile__icon-base, .nav-main__icon-middle, .nav-mobile__icon-middle {
     font-size: 8rem !important;
  }
  .nav-main__icon-top, .nav-mobile__icon-top { 
    position: relative; top: 1rem; left: 0.5rem;
    font-size: 3.3rem !important; 
  }
  .nav-main__icon-text, .nav-mobile__icon-text { 
    position: relative; top: 1rem; left: 0.5rem;
    font-size: 3rem; letter-spacing: 0.1rem;
  } 
  .nav-main__button, .nav-mobile__button  {
    position: relative; top: 0; right: 0; z-index: 12; 
    width: 20%;
    border: none;
    cursor: pointer;
  }
  .nav-main__button:focus, .nav-mobile__button:focus {
    outline: none;
  }  
  .nav-main__linkline { 
    position: absolute; top:25%; left: 10%; z-index: 11; 
    height: 0.6rem; width: 80%;
    background-color: rgb(192,192,200);
  }
  .nav-mobile__linkline { 
    position: absolute; top:25%; left: 10%; z-index: 11; 
    height: 0.6rem; width: 80%;
    background-color: rgb(192,192,200);
  }
/* nav transitons */
  .nav-main__button, .nav-mobile__button, .nav-main__button *, .nav-mobile__button * { 
    -webkit-transition: -webkit-transform 0.4s ease-in-out 0s,
                color 0.4s ease-in-out 0s, 
                background-color 0.4s ease-in-out 0s,
                top 0.4s ease-in-out 0s;
    transition: transform 0.4s ease-in-out 0s,
                color 0.4s ease-in-out 0s, 
                background-color 0.4s ease-in-out 0s,
                top 0.4s ease-in-out 0s;
  }
  .nav-main__button--selected, .nav-mobile__button--selected { 
    top: 0.66rem; 
    -webkit-transform: scale(1.33); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(1.33); /* IE 9 */
    transform: scale(1.33); /* IE 10, Fx 16+, Op 12.1+ */
  }
  .nav-main__button:hover:not(.nav-main__button--selected) .nav-main__icon-base,
  .nav-mobile__button:hover:not(.nav-mobile__button--selected) .nav-mobile__icon-base {
    transition: color 0.2s ease-in-out 0s;
    color: rgb(5,0,55);
  }
  .nav-main__button:hover:not(.nav-main__button--selected) .nav-main__icon-top,
  .nav-mobile__button:hover:not(.nav-mobile__button--selected) .nav-mobile__icon-top,
  .nav-main__button:hover:not(.nav-main__button--selected) .nav-main__icon-middle,
  .nav-mobile__button:hover:not(.nav-mobile__button--selected) .nav-mobile__icon-middle {
    transition: color 0.2s ease-in-out 0s;
    color: rgb(207,93,52) !important; 
    text-shadow: 0.3rem 0.3rem 0.15rem rgb(104,47,26);
  }
  .nav-main__button:hover:not(.nav-main__button--selected) .nav-main__icon-text,
  .nav-mobile__button:hover:not(.nav-mobile__button--selected) .nav-mobile__icon-text {
    transition: color 0.2s ease-in-out 0s;
    color: rgb(207,93,52) !important; 
  }

  .nav-main__icon, .nav-mobile__icon {
    text-shadow: 0.2rem 0.2rem 0.1rem rgb(96,96,100);
  }
  .nav-main__button--selected .nav-main__icon, .nav-mobile__button--selected .nav-mobile__icon, 
  .nav-main__button:hover .nav-main__icon, .nav-mobile__button:hover .nav-mobile__icon { 
    text-shadow: 0.3rem 0.3rem 0.15rem rgb(96,96,100);
  }
  .nav-main__icon-top--selected, .nav-mobile__icon-top--selected { 
    -webkit-transform: scale(1.25); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(1.25); /* IE 9 */
    transform: scale(1.25); /* IE 10, Fx 16+, Op 12.1+ */
  }
  .spin {
    -webkit-transform: rotatey(360deg); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: rotatey(360deg); /* IE 9 */
    transform: rotatey(360deg); /* IE 10, Fx 16+, Op 12.1+ */
  } 

/* home styles */ 
  .home__title { 
    padding-top: 21.33rem; 
    font-size: 8rem; letter-spacing: 2.4rem; line-height: 8rem;
  }
  .home__description {
    position: relative; top: 0; left: -1.6rem;
    font-size: 3.3rem; letter-spacing: 0.6rem; line-height: 3.3rem;
  }
  .home__contact {
    position: relative; top: 0; left: -3.2rem;
  }
  .home__contact .btn { font-size: 2.4rem; line-height: 2.4rem;}
  .home__title, .home__description, .home__contact .btn { margin-bottom: 2rem; }

/* about styles */
  .about__title { font-size: 3.2rem; line-height: 3.2rem; margin-bottom: 2rem; }
  .about__img {
    position: relative; left: -5%;
    width: 95%; height: auto;
  }
  .about__row { margin-top: 1rem; margin-bottom: 1rem; }
  .about__icon { font-size: 3.6rem; margin-top: 1rem; margin-bottom: 0.5rem; }
  #about .nav-item { width: 30%; }

/*resume styles */
  .resume__download { 
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem; margin-top: -1rem;
  }  
  .resume__card { height: 17rem; }
  .resume__card .card-img-left { height: 26rem; width: 26rem; }
  .resume__skill { 
    font-size: 3rem; line-height: 3rem; font-weight: 700;
    height: 10rem; width: 10rem; 
    margin: 1.6rem 2.56rem; 
    border-radius: 50%;
  }
  .resume__skillicon { width: 23%; padding: 1%; }
  #resume .nav-item { width: 22.5%; }

/*portfolio styles */
  .portfolio__card { 
    width: 31%;
  }
  .portfolio__card .card-img-top { 
    height: 20rem; width: 30rem;
    border-top-left-radius: 0rem; border-top-right-radius: 0rem;
  }
  #portfolio .nav-item { width: 30%; }
  
/* hire styles */
  .hire__link a { font-size: 2.4rem; margin-top: 1rem; }
  .hire__form {
     margin: 0 auto 2rem auto; 
     font-size: 2.4rem; 
     width: 66rem; max-width: 80%;
  }
  .hire__form form input, .hire__form form textarea { font-size: 2.4rem; }
  .hire__form form h4, .hire__link h4 { font-size: 3rem; }
  .hire__form-heading { margin: 2rem auto 1rem auto; }


