
*, html, body, .btn {
  box-sizing: border-box; 
  padding: 0; margin: 0;
}

html { font-size: 62.5%; }
body { font-size: 1.6rem; }
h1 { font-size: 4.0rem; }

.viewport {
  display: flex;
  flex-direction: row;
  width: 100vw; height: auto;
  background-color: lightgray;
}


.mobile-nav__row {
  padding: 0 2.4vw 0 2.4vw;
}
.mobile-nav__button {
  text-align: center;
}
.mobile-nav__icon {
  padding: 0.4vw 0 0 0;
  transform: scale(3.2);
  line-height: 45px;
}
.mobile-nav__text {
  font-size: 3.6vw;
}



.landscape-nav {
  position: fixed;
  top: 0; left: 0;
  background-color: transparent;
}
.landscape-nav__box {
  position: absolute;
  height: 30vh; width: 30vh;
  top: 0; left: 0;
}
.landscape-nav__buttons{
  position: absolute;
  width: 30vh;
  top: 30vh; left: 0;
}
.landscape-nav__fname {
  font-size: 4vh;
  line-height: 4vh;
  color: white;
  position: absolute;
  top: 2.6vh; left: 2.5vh;
  border-bottom: 0.4vh solid white;
}
.landscape-nav__lname {
  font-size: 5vh;
  line-height: 5vh;
  color: white;
  position: absolute;
  top: 3.5vh; right: 1vh;
  border-top: 0.8vh solid white;
}
.landscape-nav__img {
  position: absolute;
  top: 8vh; left: -2.2vh;
  width: 22vh; height: 22vh;
}
.landscape-nav__tagline1 {
  font-size: 2.2vh;
  color: white;
  position: absolute;
  top: 11vh; right: 1vh;
}
.landscape-nav__tagline2 {
  font-size: 2.2vh;
  color: white;
  position: absolute;
  top: 13.6vh; right: 1vh;
}
.landscape-nav__tagline3 {
  font-size: 2.2vh;
  color: white;
  position: absolute;
  top: 16.2vh; right: 1vh;
}
.landscape-nav__button {
  text-align: left;
  padding: 2vh 0 0 0;
}
.landscape-nav__icon {
  padding: 0 0 0 2vh;
  transform: scale(3.2);
  line-height: 9vh;
}
.landscape-nav__text {
  padding: 0 0 0 6vh;
  font-size: 3.2vh;
}

.home__portrait {
  margin-top: -4%;
  padding: 1%;
  height: 25%; width: 25%;
}
.home__secondaryheadline{
  padding: 1%;
  font-size: 3.2rem; 
}
.home__text{
  width: 50%;
}



.skill-title { font-size: 2.0rem; }
.skill-badge { font-size: 1.4rem; }

.card {
	background-color: rgb(25,25,25);
	border-color: white;
}



/*
.color-white { color: white; }
.color-facebook { color: rgb(59,89,152); }
.color-twitter { color: rgb(0,182,241); }
.color-googleplus { color: rgb(223,74,50); }
.color-youtube { color: rgb(179,18,23); }
.color-linkedin { color: rgb(0,123,182); }
.color-github { color: black; }
*/


.glow {
    text-shadow: 0 0 8px white;
}

.social-menu-item { 
    text-align: center;
    font-size: 20px;
	line-height: 20px; 
    padding: 0;
	margin: 0px 10px 0px 10px;
}




/* single screen for all content */
section { transition: opacity 0.3s ease-in-out 0s; }
#home, #about, #work, #contact, #settings { opacity:0; pointer-events:none; }
#home:target, #about:target, #work:target, #contact:target, #settings:target { opacity:1; pointer-events:auto; }


.skill-title { text-shadow: 0 0 0.2rem black; }
.skill-badge { text-shadow: 0 0 0.2rem black; }

.content-container { 
    margin-top: -4.4vh;
    padding: 0vh 3vh 13vh 3vh;
}
@media (min-width: 768px) {
.content-container { 
    padding: 0vh 3vh 3vh 33vh;
} 
}