
*, html, body, .btn {
  box-sizing: border-box; 
  padding: 0; margin: 0;
}

html { font-size: 62.5%; }
body {   
  text-align: center;
  background-color: rgb(225,225,225);
  color: rgb(40,40,60);
}
body, .nav-color { transition: background-color 1s ease-in-out 0s; }
.list-group-item { background-color:rgb(233,233,233); }

.color__menu { background-color: rgb(40,40,60); color: rgb(225,225,225); }
.color__menu--selected { background-color: rgb(225,225,225); color: rgb(40,40,60); box-shadow: none !important; }
/*
.color-white { color: white; }
.color-facebook { color: rgb(59,89,152); }
.color-twitter { color: rgb(0,182,241); }
.color-googleplus { color: rgb(223,74,50); }
.color-youtube { color: rgb(179,18,23); }
.color-linkedin { color: rgb(0,123,182); }
.color-github { color: black; }
*/


.mobile-nav {
  z-index: 99;
}
.mobile-nav__row {
  padding: 0 2.4vw 0 2.4vw;
}
.mobile-nav__button {
  text-align: center;
}
.mobile-nav__icon {
  padding: 0.4vw 0 0 0;
  transform: scale(3.2);
  line-height: 45px;
}
.mobile-nav__text {
  font-size: 3.6vw;
}



.landscape-nav { position: fixed; top: 0; left:0; height: 100%; width: 40vh; }
.landscape-nav__head { position: absolute; top: 0; left: 0; height: 35vh; width: 40vh; }
.landscape-nav__buttons{ position: absolute; top: 38vh; left: 10vh; width: 30vh; }
.landscape-nav__foot { position: absolute; top: 65vh; left: 0; height: 35vh; width: 40vh; }
.landscape-nav__fname { position: absolute; top: 2.6vh; left: 6.5vh; }
.landscape-nav__lname { position: absolute; top: 3.5vh; left: 19vh; }
.landscape-nav__speechbubble { position: absolute; top: 12vh; left: 14vh; width: 24vh; }
.landscape-nav__img { position: absolute; top: 18vh; left: 4vh; width: 18vh; height: 18vh; }
.landscape-nav__tagline1 { position: absolute; top: 21vh; right: 3vh; }
.landscape-nav__tagline2 { position: absolute; top: 23.5vh; right: 3vh; }
.landscape-nav__horizontalline { position: absolute; top: 26.2vh; right: 3vh; height: 0.2vh; width: 15vh; }
.landscape-nav__tagline3 { position: absolute; top: 26.4vh; right: 5vh; }
.landscape-nav__button { 
  text-align: left;
  height: 6vh;
}
.landscape-nav__icon { position: absolute; top: 0vh; left: 6vh; }
.landscape-nav__text { position: absolute; top: 1.6vh; left: 12vh; }

.home__portrait {
  margin-top: -6vh;
  padding: 2%;
  height: 25%; width: auto;
  min-height: 200px; min-width: auto;
}
.home__list { text-align: left; color: rgb(50,50,50); width: 85%;}
.home__text { padding: 1%; }
.home__text .badge { background-color: salmon; padding: 1%;  margin: 1%; }

.skill-title { padding: 1%; margin-top: 2%;}
.skill-badge { padding: 1%; margin: 1%;}

/* dynamic sizing in media queries */
/*landscape window - dynamic size to vh*/
@media (min-aspect-ratio: 1/1)  {
  /*shared elements*/
  h1 { font-size: 6vh; }
  h2 { font-size: 5vh; }
  .home__text { font-size: 2.6vh; }
  .skill-title { font-size: 3vh; }
  .skill-badge, .badge-pill { font-size: 2vh; }
  
  /*only visible in landscape*/
  .landscape-nav__tagline1, .landscape-nav__tagline2 { font-size: 1.8vh; }
  .landscape-nav__tagline3 { font-size: 2.0vh; }
  .landscape-nav__fname { font-size: 4.5vh; }
  .landscape-nav__lname { font-size: 6vh; }
  .landscape-nav__icon { font-size: 3vh !important; }
  .landscape-nav__text { font-size: 2.5vh; }
}

/*portrait window - dynamic size to vw*/
@media (max-aspect-ratio: 1/1) { 
  h1 { font-size: 6vw; }
  h2 { font-size: 5vw; }
  .home__text { font-size: 2.6vw; }
  .skill-title { font-size: 3vw; }
  .skill-badge, .badge-pill { font-size: 2vw; }
}





.card {
	background-color: rgb(25,25,25);
	border-color: white;
}


.social-menu-item { 
    text-align: center;
    font-size: 20px;
	line-height: 20px; 
    padding: 0;
	margin: 0px 10px 0px 10px;
}




/* single screen for all content */
section { transition: opacity 0.3s ease-in-out 0s; opacity:0; pointer-events:none; overflow:hidden; height: 1px; }
.section--show { opacity:1; pointer-events:auto; height: auto; }



.content-container { 
    position: absolute;
    top: 0; left: 0; width: 100%;
    margin-top: -4.8vh;
    padding: 0vh 3vh 13vh 3vh;
}
@media (min-width: 768px) {
.content-container { 
    position: absolute;
    top: 0; left: 30vh; width: calc(100% - 30vh);
    padding: 0vh 3vh 3vh 3vh;
} 
}